{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Planeta Gol - Menu</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/interfaz.css' %}" rel="stylesheet">

</head>
 <!-- Contenido de la página -->
 
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin_main' %}">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text mx-3">Planeta Gol </div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">


          <!-- Heading -->
          <div class="sidebar-heading">
              Menú
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAD"
                  aria-expanded="true" aria-controls="collapseAD">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Administración</span>
              </a>
              <div id="collapseAD" class="collapse" aria-labelledby="headingAD" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                      <h6 class="collapse-header">Administración:</h6>
                      <a class="collapse-item" href="{% url 'gestion_group' %}">Gestión de grupo</a>
                      <a class="collapse-item" href="{% url 'gestion_user' %}">Gestión de usuarios</a>   

                  </div>
              </div>
          </li>
          
          <!-- Nav Item - Charts -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseINV"
                  aria-expanded="true" aria-controls="collapseINV">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Inventario</span>
              </a>
              <div id="collapseINV" class="collapse" aria-labelledby="headingINV" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                      <h6 class="collapse-header">Inventario:</h6>
                      <a class="collapse-item" href="{% url 'gestion_producto' %}">Gestión de producto</a>
                      <a class="collapse-item" href="{% url 'gestion_categoria' %}">Gestión de Categoría</a>
                      <a class="collapse-item" href="{% url 'gestion_insumo' %}">Gestión de Insumos</a>    

                  </div>
              </div>
          </li>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePRO"
                aria-expanded="true" aria-controls="collapsePRO">
                <i class="fas fa-fw fa-folder"></i>
                <span>Proveedores</span>
            </a>
            <div id="collapsePRO" class="collapse" aria-labelledby="headingPRO" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Proveedores:</h6>
                    <a class="collapse-item" href="{% url 'gestion_proveedores' %}">Gestión de proveedores</a>
                    <a class="collapse-item" href="{% url 'orden_main' %}">Gestión de orden</a>   

                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVEN"
              aria-expanded="true" aria-controls="collapseVEN">
              <i class="fas fa-fw fa-folder"></i>
              <span>Ventas</span>
          </a>
          <div id="collapseVEN" class="collapse" aria-labelledby="headingVEN" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Ventas:</h6>
                  <a class="collapse-item" href="{% url 'gestion_cliente' %}">Gestión de Clientes</a>
            </li>



                </ul>
            

            </nav>
            <!-- End of Topbar -->



            <!-- Begin Page Content -->
            <div class="container-fluid my-3 col-12">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 ">
                    <h1 class="h3 col-4 mb-0 my-3 text-gray-800">Gestión de Ventas</h1>
                    <h1 class="h3 mb-0 text-gray-0"></h1>
                </div>
                <div class="d-flex flex-column flex-lg-row my-5">
                    <div class="my-auto d-flex flex-column flex-lg-row ms-lg-auto">
                        <div class="feedback body--small normal"></div>
                    </div>
                    <form method="post" action="" class="col-12 col-lg-6 input-container-search my-auto me-3">
                        {% csrf_token %}
                        <input name="search" id="search" type="text" placeholder="Buscar Cliente" class="form-control" />
                    </form>
                </div>
                <div class="d-flex justify-content-center mx-0-5--custom">
                   
                </div>
                
                <div class="table-container mt-5">
                    <table class="table table-user">
                        <thead>
                            <tr>
                                <th width="40%" scope="col" align="left">Nombre</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for h in h_list_paginate %}
                            <tr>
                                <td>{{h.nombre}}</td>
                                <td>{{h.email}}</td>
                                <td>{{h.telefono}}</td>
                                <td>{{h.direccion}}</td>
                                <td>
                                    <a href="{% url 'cliente_ver' h.id %}" class="btn btn-secundary">Ver</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Paginación -->
                    {% if paginator.num_pages > 1 %}
                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if h_list_paginate.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ h_list_paginate.previous_page_number }}&search={{ search }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                </li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                <li class="page-item {% if h_list_paginate.number == i %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}&search={{ search }}">{{ i }}</a>
                                </li>
                                {% endfor %}
                                {% if h_list_paginate.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ h_list_paginate.next_page_number }}&search={{ search }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    {% endif %}
                </div>
                
                <a href="{% url 'generar_informe' %}" title="Descarga listado">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                        <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                      </svg>
                </a>
                
        <!-- Paginación -->    
    </div>
    
</div>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>       
</div>
</li>
