{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CAA - Menu</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/interfaz.css' %}" rel="stylesheet">

</head>
 <!-- Contenido de la página -->
 
<body id="page-top" class="custom-bg">
    
    

  <!-- Page Wrapper -->
  <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin_main' %}">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text mx-3"> CAA </div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">


          <!-- Heading -->
          <div class="sidebar-heading">
              Menú
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          
          
          <!-- Nav Item - Charts -->
       

          <!-- Nav Item - Pages Collapse Menu -->
          
           
          <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Resto del código -->
            
            <!-- Nav Item - Ver Inventario -->
            
        </ul>
        
        <div class="navbar-nav nav-center">
            <a class="nav-link btn rounded-pill active " href="#">
                <span>Envío de Formulario</span>
            </a>
        </div>
        
        
        
        <style>
            .nav-link.active {
                background-color: #539131;
                color: #000000;
            }
        </style>
           
        
        
        
        
        

        <!-- Nav Item - Charts -->
        



                </ul>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                <nav class="navbar navbar-expand navbar-dark bg-dark topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                               
                            </a>
                        </li>
                         

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                
                            </a>
                        </li>
                        

                        

                        
                    </ul>
                </nav>
            

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
         
                <!-- Page Heading -->
          
{% load static %}
{% block title %}{% endblock %}
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 col-8 mb-0 my-3 text-gray-800">Gestión de Cotizaciones</h1>
            <h1 class="h3 mb-0 text-gray-0"></h1>
        </div>
        <form method="post" action="{% url 'cotizacion_save' %}">
            {% csrf_token %}
            <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                <div class="mb-0 col-md-12">
                    <label for="cotizacion_fecha_creacion" class="form-label">Fecha de Creación</label>
                    <input type="datetime-local" class="form-control" name="fecha_creacion" id="cotizacion_fecha_creacion" required>
                    <div class="feedback body--small normal"></div>
                </div>
                <div class="mb-0 col-md-12">
                    <label for="cotizacion_nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="cotizacion_nombre" placeholder="Nombre de la cotización" required>
                    <div class="feedback body--small normal"></div>
                </div>
                <div class="mb-0 col-md-12">
                    <label for="cotizacion_cliente" class="form-label">Cliente</label>
                    <select name="cliente" id="cotizacion_cliente" class="form-control" required>
                        <option value="">Seleccione un cliente</option>
                        {% for cliente in clientes %}
                        <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                        {% endfor %}
                    </select>
                    <div class="feedback body--small normal"></div>
                </div>
                <div class="mb-0 col-md-12">
                    <label for="cotizacion_materiales" class="form-label">Materiales</label>
                    <input type="text" class="form-control" name="materiales" id="cotizacion_materiales" placeholder="Materiales" required>
                    <div class="feedback body--small normal"></div>
                </div>
                <div class="mb-0 col-md-12">
                    <label for="cotizacion_cantidad" class="form-label">Cantidad</label>
                    <input type="number" step="0.01" class="form-control" name="cantidad" id="cotizacion_cantidad" placeholder="Cantidad" required>
                    <div class="feedback body--small normal"></div>
                </div>
                <div class="mb-0 col-md-12">
                    <div class="row my-3">
                        <div class="col-2">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                        <div class="col-2">
                            <a href="{% url 'gestion_cotizacion' %}" class="btn btn-dark btn-block text-white">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    
    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>       
    </div>
    </li>