{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CAA - Menu</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/interfaz.css' %}" rel="stylesheet">

</head>
 <!-- Contenido de la página -->
 
<body id="page-top" class="custom-bg">
    
    

  <!-- Page Wrapper -->
  <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin_main' %}">
              <div class="d-flex justify-content-center">
                <img
                  src="{% static 'imagenes/Logo.png' %}"
                  alt="Logo"
                  style="height: 4em"
                />
              </div>
              <div class="sidebar-brand-text mx-3"> CAA </div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">


          <!-- Heading -->
          <div class="sidebar-heading">
              Menú
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          
          
          <!-- Nav Item - Charts -->
       

          <!-- Nav Item - Pages Collapse Menu -->
          
           
          <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Resto del código -->
            
            <!-- Nav Item - Ver Inventario -->
            <li class="nav-item">
                <a class="nav-link btn rounded-pill active mb-2" href="{% url 'gestion_material' %}">
                    <span>Gestión de Material</span>
                </a>
            </li>
        
            <!-- Nav Item - Ver Inventario -->
            <li class="nav-item">
                <a class="nav-link nav-underline btn rounded-pill active mb-2" href="{% url 'gestion_cotizacion' %}">
                    <span>Gestión de Cotizacion</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-underline btn rounded-pill active mb-2" href="{% url 'proveedores_crear' %}">
                    <span>Gestion de proveedores</span>
                </a>
            </li>
            
            
        </ul>   
        </div>
        <style>
            .nav-link.active {
                background-color: #539131;
                color: #000000;
            }
        </style>
           
        
        
        
        
        

        <!-- Nav Item - Charts -->
        



                </ul>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                <nav class="navbar navbar-expand navbar-dark bg-dark topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                               
                            </a>
                        </li>
                         

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                
                            </a>
                        </li>
                        

                        

                        
                    </ul>
                </nav>
            

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
         
                <!-- Page Heading -->