{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Planeta Gol - Menu</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/interfaz.css' %}" rel="stylesheet">

</head>
 <!-- Contenido de la página -->
 
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="admin_main">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text mx-3">Planeta Gol </div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">


          <!-- Heading -->
          <div class="sidebar-heading">
              Menú
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAD"
                  aria-expanded="true" aria-controls="collapseAD">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Administración</span>
              </a>
              <div id="collapseAD" class="collapse" aria-labelledby="headingAD" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                      <h6 class="collapse-header">Administración:</h6>
                      <a class="collapse-item" href="{% url 'gestion_group' %}">Gestión de grupo</a>
                      <a class="collapse-item" href="{% url 'gestion_user' %}">Gestión de usuarios</a>   

                  </div>
              </div>
          </li>
          
          <!-- Nav Item - Charts -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseINV"
                  aria-expanded="true" aria-controls="collapseINV">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Inventario</span>
              </a>
              <div id="collapseINV" class="collapse" aria-labelledby="headingINV" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                      <h6 class="collapse-header">Inventario:</h6>
                      <a class="collapse-item" href="{% url 'gestion_producto' %}">Gestión de producto</a>
                      <a class="collapse-item" href="{% url 'gestion_categoria' %}">Gestión de Categoría</a>   

                  </div>
              </div>
          </li>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePRO"
                aria-expanded="true" aria-controls="collapsePRO">
                <i class="fas fa-fw fa-folder"></i>
                <span>Proveedores</span>
            </a>
            <div id="collapsePRO" class="collapse" aria-labelledby="headingPRO" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Proveedores:</h6>
                    <a class="collapse-item" href="{% url 'gestion_proveedores' %}">Gestión de proveedores</a>
                    <a class="collapse-item" href="{% url 'orden_main' %}">Gestión de orden</a>   

                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVEN"
              aria-expanded="true" aria-controls="collapseVEN">
              <i class="fas fa-fw fa-folder"></i>
              <span>Ventas</span>
          </a>
          <div id="collapseVEN" class="collapse" aria-labelledby="headingVEN" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Ventas:</h6>
                  <a class="collapse-item" href="{% url 'gestion_cliente' %}">Gestión de Clientes</a>
                  <a class="collapse-item" href="{% url 'gestion_cotizacion' %}">Gestión de Cotizacion</a>
            </li>



                </ul>
            

            </nav>




    <main role="main">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-0"></h1>
                <h1 class="h3 mb-0 my-3 text-gray-800">Gestión de usuarios</h1>
                <h1 class="h3 mb-0 text-gray-0"></h1>
            </div>
            

              <main role="main">
                
                <div class="container col-12 mt-3">
                    <div class="col-12  mt-3 border">
                        <h3>Formulario de usuario</h3> 
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row"> 
                                <div class="col-12 col-sm-8 mb-3">
                                    <label for="rut">Rut</label>
                                    <input type="text" name="rut"  required oninput="checkRut(this)" autofocus maxlength="254" required id="id_rut" class="form-control border border-dark" placeholder="Rut (Ej: 17605812-2)"/>
                                </div>  
                                <div class="col-12 col-sm-4 mb-3">
                                    <label for="email">Perfil</label>
                                    <select name="grupo" id="grupo" class="form-control border border-dark" required>
                                        <option value="">----------</option>
                                        {% for g in groups %}
                                        <option value="{{g.id}}">{{g.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>  
                            </div>    
                            <div class="row">                       
                                <div class="col-12 col-sm-4 mb-3">
                                    <label for="name">Nombre (*)</label>
                                    <input type="text" class="form-control border border-dark" id="name" name="name" autofocus maxlength="254" required/>
                                </div>
                                <div class="col-12 col-sm-4 mb-3">
                                    <label for="last_name">Apellidos</label>
                                    <input type="text" class="form-control border border-dark" id="last_name1" name="last_name1" required/>
                                </div>                        
                                <div class="col-12 col-sm-4 mb-3">
                                    <label for="mobile">Celular</label>
                                    <input type="number" class="form-control border border-dark" id="mobile" name="mobile"/>
                                </div>                        
                            </div>
                            <div class="row"> 
                                <div class="col-12 col-sm-8 mb-3">
                                    <label for="email">Correo (*)</label>
                                    <input type="email" class="form-control border border-dark" placeholder="nombre@unab.cl" name="email"/>
                                </div>
                                <div class="col-12 col-sm-4 mb-3">
                                    <label for="position">Cargo</label>
                                    <input type="position" class="form-control border border-dark" placeholder="Cargo" name="position" required/>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-12 col-sm-6 mb-3">
                                    <input type="submit" value="Crear Usuario" class="btn btn-info form-control">
                                </div>
                                <div class="col-12 col-sm-3 mb-3">
                                    <a href="{% url 'gestion_user' %}" class="btn btn-dark form-control">Volver</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    </main>
     <!-- Bootstrap core JavaScript-->
     <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
     <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

     <!-- Core plugin JavaScript-->
     <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

     <!-- Custom scripts for all pages-->
     <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

     <!-- Page level plugins -->
     <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

     <!-- Page level custom scripts -->
     <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
     <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>       
</div>
</li>

