{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Planeta Gol - Menu</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/interfaz.css' %}" rel="stylesheet">

</head>
 <!-- Contenido de la página -->
 
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin_main' %}">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text mx-3">Planeta Gol </div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">


          <!-- Heading -->
          <div class="sidebar-heading">
              Menú
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAD"
                  aria-expanded="true" aria-controls="collapseAD">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Administración</span>
              </a>
              <div id="collapseAD" class="collapse" aria-labelledby="headingAD" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                      <h6 class="collapse-header">Administración:</h6>
                      <a class="collapse-item" href="{% url 'gestion_group' %}">Gestión de grupo</a>
                      <a class="collapse-item" href="{% url 'gestion_user' %}">Gestión de usuarios</a>   

                  </div>
              </div>
          </li>
          
          <!-- Nav Item - Charts -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseINV"
                  aria-expanded="true" aria-controls="collapseINV">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Inventario</span>
              </a>
              <div id="collapseINV" class="collapse" aria-labelledby="headingINV" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                      <h6 class="collapse-header">Inventario:</h6>
                      <a class="collapse-item" href="{% url 'gestion_producto' %}">Gestión de producto</a>
                      <a class="collapse-item" href="{% url 'gestion_categoria' %}">Gestión de Categoría</a>   
                      <a class="collapse-item" href="{% url 'gestion_insumo' %}">Gestión de insumos</a> 

                  </div>
              </div>
          </li>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePRO"
                aria-expanded="true" aria-controls="collapsePRO">
                <i class="fas fa-fw fa-folder"></i>
                <span>Proveedores</span>
            </a>
            <div id="collapsePRO" class="collapse" aria-labelledby="headingPRO" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Proveedores:</h6>
                    <a class="collapse-item" href="{% url 'gestion_proveedores' %}">Gestión de proveedores</a>
                    <a class="collapse-item" href="{% url 'orden_main' %}">Gestión de orden</a>   

                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVEN"
              aria-expanded="true" aria-controls="collapseVEN">
              <i class="fas fa-fw fa-folder"></i>
              <span>Ventas</span>
          </a>
          <div id="collapseVEN" class="collapse" aria-labelledby="headingVEN" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Ventas:</h6>
                  <a class="collapse-item" href="{% url 'gestion_cliente' %}">Gestión de Clientes</a>
                  <a class="collapse-item" href="{% url 'gestion_cotizacion' %}">Gestión de Cotizacion</a>
            </li>



                </ul>
            

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
         
                <!-- Page Heading -->
          
{% load static %}
{% block title %}{% endblock %}
 
   
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between mb-4 ">
                    <h1 class="h3 col-8 mb-0 my-3 text-gray-800">Gestión de Inventario</h1>
                    <h1 class="h3 mb-0 text-gray-0"></h1>
                </div>
                <h3>Añadir Cancha</h3>
                <form method="post" action="{% url 'cancha_save' %}">
                    {% csrf_token %}
                    <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                        <div class="mb-0 col-md-12">
                            <label for="cancha_nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="cancha_nombre" placeholder="Nombre de la cancha" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="cancha_ubicacion" class="form-label">Ubicación</label>
                            <input type="text" class="form-control" name="ubicacion" id="cancha_ubicacion" placeholder="Ubicación de la cancha" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="cancha_disponible" class="form-label">Disponible</label>
                            <select class="form-control" name="disponible" id="cancha_disponible" required>
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="cancha_categoria" class="form-label">Categoría</label>
                            <select class="form-control" name="categoria" id="cancha_categoria" required>
                                {% for c in categoria_listado %}
                                <option value="{{ c.id }}">{{ c.nombre }}</option>
                                {% endfor %}
                            </select>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="insumo_listado" class="form-label">Insumo</label>
                            <select class="form-control" name="insumo" id="insumo_listado" required>
                                {% for c in insumo_listado %}
                                <option value="{{ c.id }}">{{ c.nombre }}</option>
                                {% endfor %}
                            </select>
                            <div class="feedback body--small normal"></div>
                        </div>

                        <div class="mb-0 col-md-12">
                            <div class="row my-3">
                                <div class="col-2">
                                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                                </div>
                                <div class="col-2">
                                    <a href="{% url 'gestion_producto' %}" class="btn btn-dark btn-block text-white">Volver</a>
                                </div>  
                            </div>                                  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    
    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>       
    </div>
    </li>
