{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Planeta Gol - Menu</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/interfaz.css' %}" rel="stylesheet">

</head>
 <!-- Contenido de la página -->
 
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin_main' %}">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text mx-3">Planeta Gol </div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">


          <!-- Heading -->
          <div class="sidebar-heading">
              Menú
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAD"
                  aria-expanded="true" aria-controls="collapseAD">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Administración</span>
              </a>
              <div id="collapseAD" class="collapse" aria-labelledby="headingAD" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                      <h6 class="collapse-header">Administración:</h6>
                      <a class="collapse-item" href="{% url 'gestion_group' %}">Gestión de grupo</a>
                      <a class="collapse-item" href="{% url 'gestion_user' %}">Gestión de usuarios</a>   

                  </div>
              </div>
          </li>
          
          <!-- Nav Item - Charts -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseINV"
                  aria-expanded="true" aria-controls="collapseINV">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Inventario</span>
              </a>
              <div id="collapseINV" class="collapse" aria-labelledby="headingINV" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                      <h6 class="collapse-header">Inventario:</h6>
                      <a class="collapse-item" href="{% url 'gestion_producto' %}">Gestión de producto</a>
                      <a class="collapse-item" href="{% url 'gestion_categoria' %}">Gestión de Categoría</a>   
                      <a class="collapse-item" href="{% url 'gestion_insumo' %}">Gestión de insumos</a> 
                  </div>
              </div>
          </li>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePRO"
                aria-expanded="true" aria-controls="collapsePRO">
                <i class="fas fa-fw fa-folder"></i>
                <span>Proveedores</span>
            </a>
            <div id="collapsePRO" class="collapse" aria-labelledby="headingPRO" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Proveedores:</h6>
                    <a class="collapse-item" href="{% url 'gestion_proveedores' %}">Gestión de proveedores</a>
                    <a class="collapse-item" href="{% url 'orden_main' %}">Gestión de orden</a>  

                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVEN"
              aria-expanded="true" aria-controls="collapseVEN">
              <i class="fas fa-fw fa-folder"></i>
              <span>Ventas</span>
          </a>
          <div id="collapseVEN" class="collapse" aria-labelledby="headingVEN" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Ventas:</h6>
                  <a class="collapse-item" href="{% url 'gestion_cliente' %}">Gestión de Clientes</a>
                  <a class="collapse-item" href="{% url 'gestion_cotizacion' %}">Gestión de Cotizacion</a>
            </li>



                </ul>
            

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid my-3 col-12">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 ">
                    <h1 class="h3 col-4 mb-0 my-3 text-gray-800">Gestión de cancha</h1>
                    <h1 class="h3 mb-0 text-gray-0"></h1>
                </div>
   
                <header class="mb-4">
                    <h2 class="h2 medium text-blue">Actualizar reserva</h2>
                </header>
                <div class="col-md-11">
                    <div class="mb-3">
                        <div class="d-flex flex-column align-items-center align-items-lg-start">
                            <form method="post" action="{% url 'reserva_edit' reserva_data.id|default:'' %}">
                                {% csrf_token %}
                                <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                                    <div class="mb-0 col-md-12">
                                        <label for="reserva_fecha_inicio" class="form-label">Fecha de inicio</label>
                                        {% if reserva_data.fecha_inicio %}
                                            <input type="datetime-local" class="form-control" name="fecha_inicio" id="reserva_fecha_inicio" value="{{ reserva_data.fecha_inicio|date:'Y-m-d\TH:i' }}" required>
                                        {% else %}
                                            <input type="datetime-local" class="form-control" name="fecha_inicio" id="reserva_fecha_inicio" required>
                                        {% endif %}
                                        <div class="feedback body--small normal"></div>
                                    </div>
                                    <div class="mb-0 col-md-12">
                                        <label for="reserva_fecha_fin" class="form-label">Fecha de fin</label>
                                        {% if reserva_data.fecha_fin %}
                                            <input type="datetime-local" class="form-control" name="fecha_fin" id="reserva_fecha_fin" value="{{ reserva_data.fecha_fin|date:'Y-m-d\TH:i' }}" required>
                                        {% else %}
                                            <input type="datetime-local" class="form-control" name="fecha_fin" id="reserva_fecha_fin" required>
                                        {% endif %}
                                        <div class="feedback body--small normal"></div>
                                    </div>
                                    <div class="mb-0 col-md-12">
                                        <label for="reserva_codigo" class="form-label">Código</label>
                                        <input type="text" class="form-control" name="codigo" id="reserva_codigo" value="{{ reserva_data.codigo }}" required>
                                        <div class="feedback body--small normal"></div>
                                    </div>
                                </div>
                                <div class="mb-0 col-md-12">
                                    <div class="d-flex justify-content-center mb-2">
                                        <div class="col-3">
                                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                                        </div>
                                        <div class="col-3">
                                            <a href="{% url 'reserva_eliminar' reserva_data.id %}" class="btn btn-danger btn-block text-white">Eliminar</a>
                                        </div>
                                        <div class="col-3">
                                            <a href="{% url 'reserva_list' %}" class="btn btn-dark btn-block text-white">Volver</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>       
</div>
</li>
